html
{
    font-size:20px;
    background-color: #79E0DB;
    font-family: "Cormorant";
}

body
{
  margin:0;
}


header
{
    display: flex;
    justify-content: space-around;
    background-color: #7A8B8B;
    border-bottom:1px dashed #B279E0;;
}

header h1
{
  font-family: "Rubik Bubbles";
}

.banner
{
  background-image: url('photos/snowcity.jpg');
  background-size: cover;
  height: 600px;
  padding-top:350px;
  text-align: center;
}

.banner button
{
   width:120px;
   height:40px;
   text-transform: uppercase;
   font-family: "Rubik Bubbles";
   background-color: #B279E0;
   border: 3px dashed;
}

button:hover
{
  background-color: #D8E079;
}

@media only screen and (max-width: 600px) {
   header
   {
     display:flex;
     flex-direction: column;
     text-align: center;
     justify-content: space-between;
   }

   header h1 
   {
     margin-bottom: 15px;
   }
}

a:hover
{
   color:white;
}

.quote_banner{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px dashed #B279E0;
  border-bottom: 1px dashed #B279E0;
}

.photos
{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #E09D79;
   padding: 30px 15px;
}

.photos img
{
  width:400px;
  height:400px;
  margin:15px;
  border: 3px dashed #7A8B8B;
}

footer{
   font-size: 1rem;
   border-top: 5px dashed #D8E079;
}