html
{
    font-size:20px;
    background-repeat: repeat;
    background-color: #79E0DB;
    font-family: "Cormorant";
}

body
{
  margin:0;
}

#snow
{
  background-image: none;
  animation: snow 8s linear infinite;
  opacity: 1;
}
@keyframes snow 
{
  0%{
    background-position: 50px 50px;
  }
  20%{
    background-position: 100 px 100px;
  }
  30%{
    background-position: 150px 150px;
  }
  40%{
    background-position: 200px 200px;
  }
  60%{
    background-position: 250px 250px;
  }
  80%{
    background-position: 300px 300px;
  }
  100%{
    background-position: 350px 350px;
  }
}

.banner
{
  background-image: url('photos/snowcity.jpg');
  background-size: cover;
  height: 600px;
  padding-top:350px;
  text-align: center;
  opacity: 0.7;
}


#snow_button
{
   width:120px;
   height:40px;
   text-transform: uppercase;
   font-family: "Rubik Bubbles";
   background-color: #B279E0;
   border: 3px dashed;
}

#snow_button:hover
{
  background-color: #79E0DC;
}


a:hover
{
   color:white;
}

.quote_banner{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px dashed #B279E0;
  border-bottom: 1px dashed #B279E0;
}

.photos
{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #000;
   padding: 30px 15px;
   opacity: 0.8;
}

.photos img
{
  width:400px;
  height:400px;
  margin:15px;
  border-radius: 5%;
  border: 1px solid #fff;
  box-shadow: 5px 8px 15px 5px black;
}

footer{
   font-size: 1rem;
}